// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$button-font-size: 14pt;

// My Customizations

// Fonts
$main-font: 'Poppins', sans-serif;
$logo-font: 'Lobster', cursive;
$display-font: 'Franklin Gothic Heavy';

// Colors
$main-color: #000000;
$negative-color: #F8FAFC;
$secondary-color: #FFD700; // #FFD700
$main-color-light: #191A1F;
$secsecondary-color-light: #FFDB01;
$secsecondary-color-dark: #ffd900c5;