// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'myfonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body{
    height: 100vh;
    font-family: $main-font;
}

main{
    min-height: 100vh;
}

.logo{
    font-family: $logo-font;
    font-size: 3.5rem;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit!important;
}

.nav-item{
    font-family: $main-font;
    font-size: 18pt;
}

.nav-item-active a{
    border-bottom: $secondary-color solid 0.25rem;
}

.main-display{
    font-family: $display-font;
}

.main-display strong{
    color: $secondary-color;
}

.main-pic{
    width: 100%;
}

.main-button{
    padding: 0.5rem 0.75rem;
    background: $main-color;
    border: 0.125rem solid $negative-color;
    box-sizing: border-box;
    border-radius: 0.25rem;
    color: $negative-color;
    font-size: $button-font-size;
    font-weight: bold;
}

.secondary-button{
    padding: 0.5rem 0.75rem;
    background: $secondary-color;
    border: 0.125rem solid $secondary-color;
    box-sizing: border-box;
    border-radius: 0.25rem;
    color: $main-color;
    font-size: $button-font-size;
    font-weight: bold;
}

footer{
    color: $main-color;
}

footer hr{
    height: 0.2rem!important;
}

.footer-display{
    font-family: $logo-font;
    font-size: 1.4rem;
}

.footer-display strong{
    color: $secondary-color;
}

.link-icons{
    a{
        padding: 0 0.5rem;
        img{
            width: 24pt;
        }
    }
}

.heading{
    letter-spacing: .5rem;
    position: relative;
    h1{
        font-weight: bold;
    }
    h1::before{
        content: '';
        background-image: url('../../public/images/rectangle.svg');
        background-size: cover;
        height: 3.75rem;
        width: 5rem;
        position: absolute;
        top:-35%;
        left:-1.5rem;
        z-index: -100;
    }
}

h2{
    font-weight: bold;
    font-size: 1.4rem;
}

.card{
    background-color: $main-color;
    color: $negative-color;
    border-radius: 0.25rem;
    .card-image{
        width: 8rem;
        height: 8rem;
        margin: 0 auto;
        background-color: $negative-color;
        border-radius: 50%;
        img{
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }

    .card-title{
        font-size: 1.6rem;
    }

    .card-info{
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        height: 6.5em; /* Fallback for non-webkit, line-height * 2 */
        line-height: 1.3em;
        -webkit-line-clamp: 5; /* if you change this, make sure to change the fallback line-height and height */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.error{
    font-size: 4rem!important;
}

.text-special{
    color: $secondary-color;
}

.error-info{
    font-size: 1.8rem;
}

.info-card{
    height: 14rem;
    transition: 0.3s linear;
    cursor: pointer;
    .card-info{
        opacity: 0;
        transition: 0.4s linear;
    }
    .card-image{
        background-color: rgba(0, 0, 0, 0);
        transition: 0.4s linear;
    }
}

.info-card:hover{
    background-color: $secondary-color;
    .card-info{
        opacity: 1;
        color: $main-color;
        transform: scale(1.4);
    }
    .card-image{
        opacity: 0;
        transform: scale(0.4);
    }
}

.loader-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $main-color;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

.loader {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    position: relative;
    border-radius: 50%;
    border: 4px solid $negative-color;
    overflow: hidden;
  }
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $negative-color;
    background-image: url('../../public/images/mtr.svg');
    background-size: cover;
    animation: loader-inner 1s ease-in;
    z-index: 100;
    @keyframes loader-inner {
        0% { height: 0%;}
        100% { height: 100%;}
      }
  }
  
.fulfilling-bouncing-circle-spinner, .fulfilling-bouncing-circle-spinner * {
    box-sizing: border-box;
  }

.fulfilling-bouncing-circle-spinner {
    height: 18rem;
    width: 18rem;
    position: absolute;
    animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
  }

.fulfilling-bouncing-circle-spinner .orbit {
    height: 18rem;
    width: 18rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: calc(18rem * 0.03) solid $negative-color;
    animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
  }

.fulfilling-bouncing-circle-spinner .circle {
    height: 18rem;
    width: 18rem;
    color: $negative-color;
    display: block;
    border-radius: 50%;
    position: relative;
    border: calc(18rem * 0.1) solid $negative-color;
    animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
    transform: rotate(0deg) scale(1);
  }

@keyframes fulfilling-bouncing-circle-spinner-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    62.5% {
      transform: scale(0.8);
    }
    75% {
      transform: scale(1);
    }
    87.5% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
    0% {
      transform: scale(1);
      border-color: transparent;
      border-top-color: inherit;
    }
    16.7% {
      border-color: transparent;
      border-top-color: initial;
      border-right-color: initial;
    }
    33.4% {
      border-color: transparent;
      border-top-color: inherit;
      border-right-color: inherit;
      border-bottom-color: inherit;
    }
    50% {
      border-color: inherit;
      transform: scale(1);
    }
    62.5% {
      border-color: inherit;
      transform: scale(1.4);
    }
    75% {
      border-color: inherit;
      transform: scale(1);
      opacity: 1;
    }
    87.5% {
      border-color: inherit;
      transform: scale(1.4);
    }
    100% {
      border-color: transparent;
      border-top-color: inherit;
      transform: scale(1);
    }
  }

.form-control{
      line-height: 2.2rem;
      border: .125rem solid $main-color;
      position: relative;
  }

.form-control:focus{
      border-color: $main-color!important;
      box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
  }

.form-control:not(:placeholder-shown) ~ label{   
        position: absolute;
        top: -.75rem;
        left: 1.5rem;
        background-color: $negative-color;
        padding: 0 0.25rem;
        opacity: 1;
  }

.text-control{
    resize: none;
    height: 12rem;
  }

.floating-control{
      position: relative;
  }

.floating-label{
      position: absolute;
      opacity: 0;
      top: 1rem;
      left: 1.5rem;
      background-color: $negative-color;
      padding: 0 0.25rem;
      transition: 0.3s linear ease-in;
  }

.floating-message{
  position: fixed;
  opacity: 0;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  animation: opa0 6000ms ease;
  visibility: hidden;
  @keyframes opa0 {
    0%{
      opacity: 1;
      visibility: visible;
    }
    75%{
      opacity: 1;
      visibility: visible;
    }
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }
}

.fade-5{
  opacity: 0;
  animation: opa5 300ms ease;
  visibility: hidden;
  @keyframes opa5 {
    0%{
      opacity: 1;
      visibility: visible;
    }
    50%{
      opacity: 1;
      visibility: visible;
    }
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }
}

.alert-main{
    color: $main-color;
    background-color: $negative-color;
    border-color: $main-color;
}

.alert-cust-secondary{
  color: $main-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

// BreakPoints

// Large Breakpoint
@media (min-width: 992px){
  .footer-display{
    font-size: 3rem!important;
  }
  
}

// Medium Breakpoint
@media (min-width: 768px){
  .footer-display{
    font-size: 2rem;
  }

  .heading{
    letter-spacing: .75rem;
    h1::before{
        content: '';
        top: -15% !important;
    }
  }
}

// Small Breakpoint
@media (min-width: 576px){

  .heading{
    
    h1::before{
        content: '';
        top:-20%;
    }
  }
}

