@import 'app.scss';

body{
    background-image: url('../../public/images/bg-black.svg');
    background-size: auto;
    color: $negative-color;
}

@media (min-width: 992px){
    body{
        background-size: cover;
    }
}

.logo{
    color: $negative-color;
}

.nav-item{
    color: $negative-color;
}
